nav{
    padding: 12px;
    border-bottom: 1px solid rgb(213, 210, 210);
    margin: auto;
}
nav>div{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.steps{
    display: flex;
    align-items: center;
}
.steps>p{
    font-size: 13px;
    font-weight: 550;
    color: rgb(96, 93, 93);
}
.steps>span{
    margin-left: 5px;
    margin-right: 5px;
}
.secure{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}
.secure>img{
    height: 30px;
}
.paymentopt>img{
   height: 40px;
   width: 70px;
}
footer{
    border-top: 1px solid rgb(213, 210, 210);
    padding-top: 12px
}
footer>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer>div>a{
    color: black;
    font-weight: 600;
}
#logo{
    height: 50px;
    width: 100px;
}